.OnHover:hover{
    font-weight: 600;
}
.ActiveLink{
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
    --tw-border-opacity: 0.3;
}

.ThreeIcons{
    padding: 4px;
}

.ThreeBoxes:hover{
    border-radius: 100px;
    box-shadow: 0px 2px 10px 2px #00000033;
    transition: all 0.2s ease-in-out;
}

.ThreeBoxes:active{
    border-radius: 100px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 12px 4px #00000033;
    transition: all 0.2s ease-in-out;
}

.ThreeBoxesFocus{
    border-radius: 100px;
    background-color: #DB4444;
    box-shadow: 0px 4px 12px 4px #00000033;
    color: white;
}

.CartItemCount{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #DB4444;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.WishItemCount{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #DB4444;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}