.SaleItem:hover {
    .AddToCart{
        display: flex;
        animation: PullUp 0.2s ease-in-out;
    }

}

.AddToCart{
    display: none;
    z-index: 10;
    position: absolute;
    padding: 8px 0;
    color: white;
    font-weight: 500;
    background-color: black;
    width: 100%;
    bottom: 0;
    border-radius: 4px;
    justify-content: center;
}

.AddToCart:active{
    background-color: grey;
    color: black;
    font-weight: 800;
}

@keyframes PullUp {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.Title{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}