.Item:hover{
    .Image{
        filter: brightness(0.3);
        transition: all 0.2s ease-in-out;
    }
    .Text{
        transform: translate(2%, -20%),;       
        transition: all 0.2s ease-in-out;
    }
}