.sideMenuContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 66.66%; /* 2/3 screen width */
    z-index: 100;
    overflow-y: auto; /* Enable scrolling if content overflows */
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the dim color and opacity */
    z-index: 99;
}

.sideMenuContent {
    display: none;
}

.sideMenuContentActive {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; /* Adjust the background color */
    padding: 20px; /* Adjust the padding as needed */
    z-index: 101; /* Ensure the menu is on top of the overlay */
}

.OnHover:hover{
    font-weight: 600;
}
.ActiveLink{
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
    --tw-border-opacity: 0.3;
}