.sideMenuContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 66.66%;
    z-index: 100;
    overflow-y: auto;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &.Active {
        visibility: visible;
    }
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0);
    transition: all 0.3s ease-in-out;

    &.Active {
        opacity: 1;
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
.sideMenuContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    z-index: 101;
    border-radius: 0 4px 4px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);

    &.Active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes blurBG{
    from{
        backdrop-filter: blur(0px);
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
    to{
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
}

@keyframes unBlurBG{
    from{
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
    to{
        backdrop-filter: blur(0px);
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
}

.OnHover:hover{
    font-weight: 600;
}
.ActiveLink{
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
    --tw-border-opacity: 0.3;
}