.pagination{
    :global {
        .swiper-pagination-bullet{
            background-color: grey !important;
        }
        .swiper-pagination-bullet-active{
            background-image: url('/Pagination.svg') !important;
            background-color: white !important;
        }
    }            
}