@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-pagination-color: url("/pagination.svg");
    --swiper-pagination-bullet-size: 12px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
}
body {}

.swiper-pagination-bullet-active {
    height: 16px !important;
    width: 16px !important;
}

.mySwiper .swiper-wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.mySwiper .swiper-slide {
    display: flex;
    justify-content: center;
    opacity: 0.4;
    width: fit-content;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.mySwiper2 .swiper-slide {
    display: flex;
    justify-content: center;
}